<!-- BEGIN:main -->
<script>


function submitBuscarBancos(){

	$( "#page" ).val( 1 );

	//buscarBancos();

	submitBuscar("{WEB_PATH}", "#bancos_filter{id}", "#{resultDiv}");
}

function ordenarBancos(name, type){

	$( "#orderBy" ).val(name);
	$( "#orderByType" ).val(type);

	submitBuscar("{WEB_PATH}", "#bancos_filter{id}", "#{resultDiv}");
}

function paginarBancos(page){
	$( "#page" ).val(page);

	submitBuscar("{WEB_PATH}", "#bancos_filter{id}", "#{resultDiv}");
}

function seleccionarIva(event, bancoId, rowId, checkboxId){


	/* muestro un pop con las opciones sobre el banco */

	gotoLink("{linkSeleccionar}?oid="+bancoId);

}

function eliminarCallback(data){

	console.log( data["info"] );
	submitBuscar("{WEB_PATH}", "#bancos_filter{id}", "#{resultDiv}");
}


$(document).ready(function(){

	submitBuscar("{WEB_PATH}", "#bancos_filter{id}", "#{resultDiv}");

	 $(".item input").keyup(function (e) {
         if (e.keyCode == 13) {
             // función para capturar el enter en el filtro default.
        	 submitBuscar("{WEB_PATH}", "#bancos_filter{id}", "#{resultDiv}");
         }
     });

});


</script>


<div id="divBancos{id}Toggle1" style="display:none">
<form class="bancos_form">
		<fieldset>
		<legend class="search_again" id="legend_buscar{id}_open">{legend_again}</legend>
		</fieldset>
</form>
</div>
<div id="divBancos{id}Toggle2">
<form class="bancos_form" id="bancos_filter{id}" onsubmit="return false;">

		<fieldset>

		<legend id="legend_buscar{id}">{legend}</legend>


		<div class="item" style="min-width: {minWidth};">
		    <label for="nombre">{lbl_nombre}:</label>
	    	<rasty id="nombre" />
		</div>

	</fieldset>

	<input type="hidden" name="model" value="{model}">
	<input type="hidden" name="filter" value="{filter}">
	<input type="hidden" name="sortCallback" value="ordenarBancos">
	<input type="hidden" name="paginationCallback" value="paginarBancos">
	<input type="hidden" name="selectRowCallback" value="{selectRowCallback}">
	<input type="hidden" id="orderBy" name="orderBy">
	<input type="hidden" id="orderByType" name="orderByType" value="ASC">
	<input type="hidden" id="page" name="page" value="1">

</form>
<form  class="bancos_form" id="buttons{id}">
	<fieldset class="tblFooters">


		<!-- input type="button" value="{lbl_submit}" id="input_submit_ajax_Iva{id}" onclick="javascript: $( '#page' ).val( 1 ); submitBuscar('{WEB_PATH}', '#bancos_filter{id}', '#{resultDiv}');"-->

		<button id="input_submit_ajax_Iva{id}"  type="button"  onclick="javascript: $( '#page' ).val( 1 ); submitBuscar('{WEB_PATH}', '#bancos_filter{id}', '#{resultDiv}');"><i class="icon-search on-left"></i>{lbl_submit}</button>

		<!-- input type="button" value="Limpiar" id="input_button_2" onclick="javascript: cleanForm('bancos_filter'); "-->

	</fieldset>
</form>
</div>
<!-- END:main -->
