<!-- BEGIN:main -->

<div class="movimientos">
	<!-- BEGIN:movimiento -->
	<div class="movimiento {movimientoCss}">
		
		<h2>
			<span class="fecha">{fechaHora}</span>
			<span class="concepto">{concepto}</span>
			
		</h2>
	
		<p>
			<span class="{montoCss} monto importe">{monto}</span>
			<span class="saldo importe">{saldo}</span>
			<!-- BEGIN: anular -->
			<img src="{WEB_PATH}css/images/anular_32.png" width="20px"/>
			<!-- END: anular -->
		</p>		
		
	</div>
	<!-- END:movimiento -->
</div>
<!-- END:main -->