<!-- BEGIN:main -->
<style>
.buttons button{

	margin: 10px;
}

</style>
<div class="box">
	<div class="item">
		<h2 class='saldo'>{lbl_saldo}</h2>
		<p class='saldo'>{saldo}</p>
	</div>
	<div class="item">
		<h2>{lbl_saldoInicial}</h2>
		<p>{saldoInicial}</p>
	</div>
	<div class="item">
		<h2>{lbl_numero}</h2>
		<p>{numero}</p>
	</div>
	<div class="item">
		<h2>{lbl_nombre}</h2>
		<p>{nombre}</p>
	</div>
	<div class="item">
		<h2>{lbl_cbu}</h2>
		<p>{cbu}</p>
	</div>
	<div class="item">
		<h2>{lbl_titular}</h2>
		<p>{titular}</p>
	</div>
	<div class="item">
		<h2>{lbl_cuit}</h2>
		<p>{cuit}</p>
	</div>

</div>
<!-- END:main -->