r<!-- BEGIN:main -->
<style>
.buttons button{

	margin: 10px;
}

td.saldo{

	text-align: right;
}
</style>


<!-- BEGIN: rank_clientes -->
<div class="box">
	<fieldset>
		<legend>{detalle_clientes_legend}</legend>

		<table>
			<tr>
				<th>{lbl_cliente}</th>

				<th>{lbl_saldo}</th>

                <th>{lbl_ctacte}</th>
			</tr>
			<!-- BEGIN: clientes -->
			<tr>
				<td>{cliente}</td>

                <td class='saldo'>{saldo}</td>
                <td class='saldo'>{ctacte}</td>
			</tr>
			<!-- END: clientes -->
		</table>

	</fieldset>
</div>
<!-- END: rank_clientes -->

<!-- END:main -->
